@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=Roboto:wght@300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth !important;
}

html {
   overflow-x: hidden;
}

body {
  font-family: "Proxima Nova", sans-serif;
  background-image: linear-gradient(to top, #505285 0%, #585e92 12%, #65689f 25%, #7474b0 37%, #7e7ebb 50%, #8389c7 62%, #9795d4 75%, #a2a1dc 87%, #b5aee4 100%);
  overflow-x: hidden;
  padding-top: 40px;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 2rem;
  font-family: "Proxima Nova", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  top: 10px;
}

img {
  width: 100%;
}

/* Intro styling */
header {
  text-align: center;
}

/* Card style */
.wrapper-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 2rem;
  justify-content: center;
  width: 40%;
  margin: auto;
}

.container {
  overflow: hidden;
  box-shadow: 0px 2px 8px 0px black;
  text-align: center;
  border-radius: 1rem;
  position: relative;
}

.container p {
  display: inline-block;
  width: 50%;
}

.banner-img {
  position: absolute;
  background-image: url(https://images2.alphacoders.com/238/thumb-1920-238870.jpg);
  height: 10rem;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-img {
  width: 8rem;
  clip-path: circle(60px at center);
  margin-top: 4.5rem;
}

.description {
  margin: 1rem 2rem;
  font-size: 0.9rem;
}

.intro {
  font-family: 'Proza Libre', sans-serif;
  font-size: 4.6em;
  margin-bottom: 0;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.hover_effect {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  display: block;
  width: 100%;
  padding: 1px;
  position: relative;
  z-index: 2;
  text-decoration: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-touch-callout: none;
}

.lead {
  font-family: 'Proza Libre', sans-serif;
  font-size: 1.5em !important;
  color: white;
  position: relative;
  bottom: 2em;
}

h2 {
  font-family: 'Proza Libre', sans-serif;
  font-size: 1.8em !important;
  font-weight: 600 !important;
  color: #b5aee4;
  text-align: center;
  padding: 0.5em;
}

#contactText {
  color: white;
}

p {
  line-height: 1.4;
  font-family: 'Proza Libre', sans-serif;
  top: 0;
}

section {
  margin: 20px;
}

/* Nav bar  */
.nav-bar {
  text-align: center !important;
  line-height: 1.4;
  font-family: 'Proza Libre', sans-serif;
  font-size: 1em;
  padding: 3em;
  position: relative;
  white-space: nowrap;
}

.nav-item {
  display: inline-block;
  color: white;
  cursor: pointer;
  font-weight: 700;
}

.nav-item:hover {
  color: #505285;
}

.social-links2 a {
  font-size: 28px;
  padding: 0px 8px;
  text-decoration: none;
  color: #505285;
  text-align: center;
  position: relative;
  top: 10px;
}

.social-links2 a:hover {
  color: white;
}

/* About section styling */
.about-card {
  padding-bottom: 257px;
}

.about-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
}

/* Skill section styling */
.heading {
  margin-top: 10px;
}

.header {
  left: 28%;
  position: relative;
  font-size: 1.7rem;
}

.cell {
  color: white;
  font-size: 100px;
  text-align: center;
}

.cell p {
  font-size: 1.1rem;
  color: black;   
  position: relative; 
  vertical-align: middle;
}

/* Projects styling */
#projects {
  padding: 0 5%;
  text-align: center;
}
#projects h1 {
  padding-bottom: 20px;
}

.project-links {
  width: 20px;
}

.project-details {
  padding: 10px 15px;
}

.project_images {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.inner-project-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: grid;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 0;
}

.links_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5% 1fr 5% 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 5%;
  text-align: left;
  padding: 1% 0;
}

.gallery_items {
  border: 2px solid white;
  border-radius: 10px;
}

/* Footer */
#footerText {
  color: white !important;
}

#emailLink {
  color: white;
  text-decoration: none;
}

#emailLink:hover {
  color: #b5aee4;
}

.social-links1 a {
  font-size: 28px;
  padding: 0px 8px;
  text-decoration: none;
  color: white;
  text-align: center;
}

.social-links1 a:hover {
  color: #b5aee4;
}

.social-footer {
  text-align: center;
  margin-bottom: 2.5em;
}

.footer {
  margin-bottom: 0 !important;
  text-align: center;
  overflow-x: hidden;
}

footer {
  display: block;
  padding-top: 40px;
  margin-top: 40px;
}

@media only screen and (max-width: 540px) {
	body {
		max-width: auto;
	}
}
