---
import BaseLayout from '../layouts/BaseLayout.astro';
import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="Patrick Coulter - Software Engineer" description="About Patrick Coulter">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="400"
					height="400"
					src="/assets/profile.png"
					alt="profile"
				/>
			</Hero>
			<section>
				<h2 class="section-title">Background</h2>
				<div class="content-button">
					<div class="button-menu">
						<button id="short-bio-button" class="button active">Short Bio</button>
						<button id="long-bio-button" class="button">Long Bio</button>
						<button id="speaker-bio-button" class="button">Speaker Bio</button>
					</div>
					<div class="content">
					<div class="short-bio">
						<p class="about-text">
							<b>
								I write code for my enjoyment.
							</b>
						</p>
						<p class="about-text">
							I'm a <b>Non-Binary software developer</b>, and enjoy <b>web development.</b> I write code to build cool stuff that others can use for their <b>enjoyment</b> or
							<b>studies.</b>
						</p>
					</div>
					<div class="long-bio">
						<p class="about-text">
							Hi there! I'm Patrick (They/Them), a <b>Non-Binary software developer</b> who is based in the United States. I primarily work in
							JavaScript & Python, though I am willing to learn other languages if needed. For the frontend, I use React. For the backend, I use a mix of
							JavaScript and Python. Most of my projects tend to be web based, powered by JavaScript & React, as that is an area which I find engaging and
							challenging. Aside from my dev work, I enjoy playing games or doing art. Though I spend most of my time working, either as a developer or as a
							community manager. I am quite passionate about community building, helping out in multiple communities while also maintaining my own.
						</p>
						<p class="about-text">
							In September of 2015, I found myself in a position where I could go to a technical high school. In the midst of those 4 years, I learned networking,
							computer security, servers, and especially coding. My plan was originally to work in IT support but things changed when I started coding very basic
							websites for my IT class. These websites were the reason I ended up going to university at <a href="https://wit.edu/" target="_blank">Wentworth Instiute of Technology</a> accomplishing my BS in Computer Science. During this time, I also got <b>Microsoft Certified</b> in
							both <b>Netowrking & Security</b>. In the course of my time at university, I have learned the basics of programmming, data structures & algorithms, databases,
							operating systems, parallel computing, and the fundamentals of software engineering. My ability as a developer has advanced as a result of particpatingg in these classes.
						</p>
						<p class="about-text">
							I have 8 months of previous experience in industry working at DynamixE Inc., a bio-tech company, as a Web Developer on their in-house management system.
							Please see my <a href="https://drive.google.com/file/d/1sCGe4kRbBz6meyLcZYkbAVxo_8GF_jf8/view?usp=share_link" target="_blank">resume</a> (or continue viewing my website) if you want to learn more about my past positions.
						</p>
						<p class="about-text">
							In my free time, I enjoy playing video games, listening to music, learning new skills, and developing personal projects.
						</p>
					</div>
					<div class="speaker-bio">
						<p class="about-text">
							Patrick - writes code for their enjoyment. They currently go to university at <a href="https://wit.edu/" target="_blank">Wentworth Instiute of Technology</a> obtaining their BS in Computer Science.
							Patrick decided to make a career out of tech in 2014 but didn't decide on being a programmer until midway though university.
						</p>
						<p class="about-text">
							Active in the developer community, Patrick is a Microsoft Certified individual who has Certifications in both Networking & Security. They build projects that are used for
							people's enjoyment as well as their studies.
						</p>
					</div>
					</div>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p class="about-text">
						<a href="https://wit.edu/" target="_blank">Wentworth Instiute of Technology</a>, Boston MA
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p class="about-text">
						<b>Languages:</b> <br>Java, JavaScript (ES6+), Python, C/C++, SQL, HTML, CSS
					</p>
					<p class="about-text">
						<b>Libraries & Frameworks:</b> <br>React, Astro JS, React/router, Node.js, Material UI, Tailwind
					</p>
					<p class="about-text">
						<b>Tools & Platforms:</b> <br>Visual Studio Code, IntelliJ, Git, GitHub, Adobe Photoshop, MySQL, MS Project
					</p>
					<p class="about-text">
						<b>Other Skills:</b> <br>Networking, Security, Windows Server 2012, Linux (Ubuntu)
					</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<script>
    const shortBioButton = document.getElementById('short-bio-button');
    const longBioButton = document.getElementById('long-bio-button');
    const speakerBioButton = document.getElementById('speaker-bio-button');
    
    const shortBio = document.querySelector('.short-bio') as HTMLElement;
    const longBio = document.querySelector('.long-bio') as HTMLElement;
        const speakerBio = document.querySelector('.speaker-bio') as HTMLElement;   
    
    shortBioButton.addEventListener('click', () => {
      shortBio.style.display = 'block';
      longBio.style.display = 'none';
      speakerBio.style.display = 'none';
      shortBioButton.classList.add('active');
      longBioButton.classList.remove('active');
      speakerBioButton.classList.remove('active');
    });
    
    longBioButton.addEventListener('click', () => {
      shortBio.style.display = 'none';
      longBio.style.display = 'block';
      speakerBio.style.display = 'none';
      shortBioButton.classList.remove('active');
      longBioButton.classList.add('active');
      speakerBioButton.classList.remove('active');
    });
    
    speakerBioButton.addEventListener('click', () => {
      shortBio.style.display = 'none';
      longBio.style.display = 'none';
      speakerBio.style.display = 'block';
      shortBioButton.classList.remove('active');
      longBioButton.classList.remove('active');
      speakerBioButton.classList.add('active');
    });
</script>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
		margin-top: 2rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	.content-button {
          padding-top: 20px;
    }
    
    .short-bio {
      display: block;
	  margin-top: 20px;
    }
    
    .long-bio,
    .speaker-bio {
      display: none;
	  margin-top: 20px;
    }

	.button-menu {
		position: relative;
		margin-top: -5%;
		margin-left: auto;
		margin-right: auto;
		width: fit-content;
	}
    
    .button {
        display: inline-block;
        text-decoration: none;
        background-color: var(--accent-light);
        color: var(--accent-text-over);
        padding: 10px;
        font-size: var(--text-md);
        line-height: 1.2;
        list-style: none;
    	border: solid 1px var(--accent-light);
        border-radius: 10px;
        transition: color var(--theme-transition), background-color var(--theme-transition);
    }
      
    .button:hover {
        color: var(--accent-text-over);
        background-color: var(--accent-dark);
    }
    
    .active {
      background-color: var(--accent-dark);
      color: var(--accent-text-over);
    }
    
    .about-text {
        padding: 0 0 12px;
    }

	@media (min-width: 600px) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
