---
import BaseLayout from "../layouts/BaseLayout.astro";
import ContactCTA from "../components/ContactCTA.astro";
import Icon from "../components/Icon.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
	title="Patrick Coulter - Software Engineer"
	description="Learn about Patrick Coulter's most recent projects"
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title="Projects"
				tagline="See my most recent projects below to get an idea of my past experience."
				align="center"
			/>
			<div class="project-container">
				<div class="project-box">
					<div class="project-year">2023</div>
					<div class="project-name">Personal Website</div>
					<div class="project-description">
						The source of this website.
					</div>
					<a
						href="https://github.com/patepic/Personal-Website"
						class="project-link"
						>Source <Icon icon="external-link" size="1.33em" /></a
					>
				</div>
				<div class="project-box">
					<div class="project-year">2023</div>
					<div class="project-name">2048</div>
					<div class="project-description">
						JavaScript/React 2048 clone.
					</div>
					<a href="" class="project-link">Coming Soon</a>
				</div>
				<div class="project-box">
					<div class="project-year">2021</div>
					<div class="project-name">Sorting Algorithms</div>
					<div class="project-description">
						Java command-line algrithm sorter.
					</div>
					<a
						href="https://github.com/patepic/Sorting-Algorithms"
						class="project-link"
						>Source <Icon icon="external-link" size="1.33em" /></a
					>
				</div>
			</div>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>


<style>
	.wrapper {
		margin-top: 5rem;
	}

	.project-container {
		width: 950px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-left: auto;
  		margin-right: auto;	
	}

	.project-box {
		width: calc(33.33% - 20px);
		height: 13rem;
		margin-top: 1rem;
		margin-bottom: 30px;
		padding: 20px;
		background: var(--project);
		color: var(--text);
		box-sizing: border-box;
		text-align: left;
		border-radius: 10px;
	}

	.project-year {
		font-size: 16px;
		font-weight: bold;
		margin-bottom: 10px;
	}

	.project-name {
		font-size: 20px;
		font-weight: bold;
		margin-bottom: 10px;
	}

	.project-description {
		font-size: 14px;
		margin-bottom: 20px;
		opacity: 80%;
	}

	.project-link {
		display: inline-block;
		padding: 10px;
		background: var(--project-link);
		color: var(--text);
		border-radius: 10px;
		text-decoration: none;
	}

	@media (max-width: 600px) {
		.wrapper {
			margin-top: 3rem;
		}

		.project-container {
			max-width: 100%;
			margin: 0 auto;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
	
		.project-box  {
			width: 100%;
  			max-width: 90%;
		}
	}
</style>