.aside .logo a::before{
  border-top: 4px solid #568AE3;
  border-left: 4px solid #568AE3;
}
.aside .logo a::after{
  border-right: 4px solid #568AE3;
  border-bottom: 4px solid #568AE3;
}
body.dark .aside .nav,
body.dark .aside .nav,
body.dark .aside .aside .nav a,
li .fa{
  color: #568AE3;
}
.about .about-content .skills .skill-item .progress .progress-in,
.about .about-content .timeline .timeline-item::before,
.about .about-content .timeline .circle-dot,
.btn,
.section-title h2::before,
.section-title h2::after,
.social-link a,
.aside .nav-toggler span,
.aside .nav-toggler span::before,
.aside .nav-toggler span::after{
  background-color: #568AE3;
}
.contact .contact-info-item .icon .fa,
.section-title .email .fa,
.section-title .location .fas,
.timeline-text span,
.about .about-content .about-text h3 span{
  color: #568AE3;
}