<div class="container">
	<h2 class="faq-title">Frequently Asked Questions</h2>
	<div class="faq-group">
		<div class="faq-left">
			<h3>Let's Connect</h3>
			<p>
				Want to work together, have a question or just want to chat?
				Then contact me using my form.
			</p>
			<div class="faq-btns">
				<a href="/contact" class="faq-btn">Message Us</a>
			</div>
		</div>
		<div class="faq-right">
			<div class="faq-main">
				<div class="faq-item">
					<div class="faq-label">
						What got you into programming?<i></i>
					</div>
					<div class="faq-cont">
						<p>
							I've always had a passion for tech ever since I was
							young. It wasn't until my senior year of high school
							before I had any passion of wanting to code.
						</p>
					</div>
				</div>
				<div class="faq-item">
					<div class="faq-label">
						What got you into web development?<i></i>
					</div>
					<div class="faq-cont">
						<p>
							Initially, I had a strong inclination towards
							pursuing game development, but eventually, I
							realized that it was not the right path for me.
						</p>
						<p>
							During my high school days, I began learning HTML
							and CSS, but it wasn't until 2020 that I had the
							opportunity to dive deeper into the field. As it
							turned out, I had developed a great passion for web
							development.
						</p>
						<p>
							Since then, I have completed numerous small
							projects, including the website you are currently
							visiting, and participated in two internships where
							I honed my skills in React development. Every moment
							spent learning and creating has been nothing short
							of pure enjoyment.
						</p>
					</div>
				</div>
				<div class="faq-item">
					<div class="faq-label">
						What programming languages/frameworks do you use?<i></i>
					</div>
					<div class="faq-cont">
						<p>
							JavaScript and React are what I use the most. I
							recently developed a passion for Astrojs, a modern
							JavaScript-based framework that is great for static
							sites. It only uses JavaScript when building so your
							website can run faster. When not working with web
							dev, I love using Java, Python and even C/C++.
						</p>
					</div>
				</div>
				<div class="faq-item">
					<div class="faq-label">
						What programs do you like creating?<i></i>
					</div>
					<div class="faq-cont">
						<p>
							Anything to do with web development sparks my intrest. From complex web apps to simple static sites.
						</p>
						<p>Some examples I love creating are:</p>
						<ul>
							<li>Static info sites such as this website</li>
							<li>Complex web apps such as management sites, social media apps, and much more</li>
							<li>Small JavaScript games</li>
							<li>Programs or websites to compute complex math equations</li>
						</ul>
					</div>
				</div>
				<div class="faq-item">
					<div class="faq-label">
						What have you been up to lately?<i></i>
					</div>
					<div class="faq-cont">
						<p>
							After my internship ended in December, I've been going to school to finish my final year of my computer science degree.
							This upcoming summer, May-August 2023, will be my final semester and I'll be planning to look for full time work as a web developer during this time.
						</p>
					</div>
				</div>
			</div>
		</div>

		<script>
			let items = document.querySelectorAll(".faq-main .faq-item");
			items.forEach(function (t) {
				t.addEventListener("click", function (e) {
					items.forEach(function (e) {
						e !== t || e.classList.contains("faq-item-show")
							? e.classList.remove("faq-item-show")
							: e.classList.add("faq-item-show");
					});
				});
			});
		</script>

		<style>
			.container {
				width: 50rem;
				padding: 0 15px;
				margin: auto;
			}

			.faq-title {
				text-align: center;
				font-size: var(--text-3xl);
				font-weight: normal;
			}

			.faq-group {
				display: flex;
				flex-flow: row wrap;
				width: 100%;
				padding-top: 5rem;
			}

			.faq-group .faq-left {
				width: 38%;
			}

			.faq-group .faq-right {
				width: 58%;
				border-left: var(--accent-light) 2px solid;
				padding-left: 30px;
				margin-left: 4%;
			}

			.faq-group h3 {
				font-size: 24px;
				font-weight: normal;
				margin: 35px 0 15px 0;
			}

			.faq-group h3:first-child {
				margin-top: 0;
			}

			.faq-btns {
				margin-bottom: 40px;
			}

			.faq-btn {
				width: 50%;
				display: inline-block;
				border: var(--accent-light) 2px solid;
				border-radius: 25px;
				text-align: center;
				margin: 0.5rem 5rem;
				background: var(--accent-light);
				padding: 0.6rem 1.3rem;
				text-decoration: none;
				color: var(--text);
				transition: 0.5s all;
			}

			.faq-btn:hover {
				background: transparent;
				color: var(--text);
			}

			.faq-item {
				width: 100%;
				margin: 7px 0;
				border-bottom: var(--accent-light) 2px solid;
			}

			.faq-item .faq-label {
				position: relative;
				width: 100%;
				padding: 12px 26px 12px 0;
				cursor: pointer;
				font-size: 18px;
				color: var(--text);
				user-select: none;
				-webkit-user-select: none;
				-moz-user-select: none;
			}

			.faq-item .faq-label i {
				width: 18px;
				height: 100%;
				position: absolute;
				right: 0;
				top: 0;
			}

			.faq-item .faq-label i:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				margin: auto;
				width: 18px;
				height: 2px;
				background: var(--text);
			}

			.faq-item .faq-label i:after {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				margin: auto;
				width: 2px;
				height: 18px;
				background: var(--text);
				transition: 0.5s all;
				-webkit-transition: 0.5s all;
			}

			.faq-item.faq-item-show .faq-label i:after {
				opacity: 0;
			}

			.faq-cont {
				transition: 0.3s all;
				overflow: hidden;
				height: 0;
			}

			.faq-item.faq-item-show .faq-cont {
				display: block;
				padding-top: 20px;
				padding-bottom: 20px;
				overflow: auto;
				height: auto;
			}

			.faq-cont p {
				margin: 0 0 20px 0;
			}

			.faq-cont p:last-child {
				margin-bottom: 0;
			}

			@media (max-width: 600px) {
				.faq-group .faq-left {
					width: 100%;
				}
				.faq-group .faq-right {
					width: 100%;
					border-left: none;
					padding-left: 0;
					margin-left: 0;
				}
			}
		</style>
	</div>
</div>
