---
import Icon, { Props as IconProps } from "./Icon.astro";
import ThemeToggle from "./ThemeToggle.astro";
/** Main menu items */
const textLinks: { label: string; href: string }[] = [
	{ label: "Home", href: "/" },
	{ label: "About", href: "/about" },
	{ label: "Projects", href: "/projects" },
	{ label: "Resume", href: "/projects" },
];
---

<nav>
	<div class="nav-header">
		<a href="/" class="nav-title">
			<Icon
				icon="terminal-window"
				color="var(--accent-dark)"
				size="1.6em"
			/>
			Patrick Coulter
		</a>
	</div>
	<div class="nav-links">
		{
			textLinks.map(({ label, href }) => (
				<a
					aria-current={Astro.url.pathname === href}
					class:list={[
						"link",
						{
							active:
								Astro.url.pathname === href ||
								(href !== "/" &&
									Astro.url.pathname.startsWith(href)),
						},
					]}
					href={href}
				>
					{label}
				</a>
			))
		}
	</div>
	<div class="theme-toggle">
		<ThemeToggle />
	</div>
</nav>

<style>
	nav {
		position: relative;
		z-index: 9999;
		font-family: var(--font-brand);
		font-weight: 500;
		margin-bottom: 3.5rem;
	}

	.nav-header {
		display: inline;
	}

	.nav-title {
		display: inline-block;
		color: var(--text);
		font-size: var(--text-xl);
		padding: 10px;
		text-decoration: none;
		position: absolute;
		margin-top: 1%;
		margin-left: 10%;
	}

	.nav-links {
		position: absolute;
		margin-top: 4%;
		margin-left: 10%;
	}

	.nav-links a {
		display: inline-block;
		text-decoration: none;
		color: var(--text);
		opacity: 50%;
		margin: 20px 10px;
		font-size: var(--text-md);
		line-height: 1.2;
		list-style: none;
		border-radius: 999rem;
		transition: color var(--theme-transition),
			background-color var(--theme-transition);
	}

	.nav-links a:hover,
	.link.active {
		text-decoration: underline;
		opacity: 100%;
	}

	.theme-toggle {
		z-index: 9999;
		position: absolute;
		margin-top: 2%;
		margin-left: 80%;
		height: calc(var(--icon-size) + 2 * var(--icon-padding));
	}

	@media (max-width: 600px) {
		.nav-title {
			display: none;
		}

		.nav-links {
			margin-top: 5px;
			margin-left: 10px;
		}

		.nav-links a {
			font-size: var(--text-sm);
		}

		.theme-toggle {
			position: absolute;
			margin-top: 4%;
			margin-left: 80%;
		}
	}
</style>
