---
import Icon, { Props as IconProps } from "./Icon.astro";
import ThemeToggle from "./ThemeToggle.astro";
/** Main menu items */
const textLinks: { label: string; href: string; target?: string }[] = [
	{ label: "Home", href: "/" },
	{ label: "About", href: "/about" },
	{ label: "Projects", href: "/projects" },
	{ label: "Contact", href: "/contact" },
	{
		label: "Resume",
		href: "https://drive.google.com/file/d/1yUV_g0KIhj0zHDZL4PKoktdYrB7AJpzU/view?usp=share_link",
		target: "_blank",
	},
];
---

<nav>
	<div class="nav-header">
		<a href="/" class="nav-title">
			<Icon
				icon="terminal-window"
				color="var(--accent-dark)"
				size="1.6em"
			/>
			Patrick Coulter
		</a>
	</div>
	<div class="nav-container">
		<input type="checkbox" class="check" />
		<div class="mobile-menu">
			<span class="line line1"></span>
			<span class="line line2"></span>
			<span class="line line3"></span>
		</div>
		<div class="nav-links">
			{
				textLinks.map(({ label, href, target }) => (
					<a
						aria-current={Astro.url.pathname === href}
						class:list={[
							"link",
							{
								active:
									Astro.url.pathname === href ||
									(href !== "/" &&
										Astro.url.pathname.startsWith(href)),
							},
						]}
						href={href}
						target={target}
					>
						{label}
					</a>
				))
			}
		</div>
		<div class="theme-toggle">
			<ThemeToggle />
		</div>
	</div>
</nav>

<style>
	nav {
		position: relative;
		z-index: 9999;
		font-family: var(--font-brand);
		font-weight: 500;
		margin-bottom: 3.5rem;
	}

	.nav-header {
		display: inline;
	}

	.nav-title {
		display: inline-block;
		color: var(--text);
		font-size: var(--text-xl);
		padding: 10px;
		text-decoration: none;
		position: absolute;
		margin-top: 1%;
		margin-left: 10%;
	}

	.nav-toggle .icon {
		display: none;
	}

	.nav-links {
		position: absolute;
		margin-top: 4%;
		margin-left: 10%;
	}

	.nav-links a {
		display: inline-block;
		text-decoration: none;
		color: var(--text);
		opacity: 50%;
		margin: 20px 10px;
		font-size: var(--text-md);
		line-height: 1.2;
		list-style: none;
		border-radius: 999rem;
		transition: color var(--theme-transition),
			background var(--theme-transition);
	}

	.nav-links a:hover,
	.link.active {
		text-decoration: underline;
		opacity: 100%;
	}

	.theme-toggle {
		z-index: 9999;
		position: absolute;
		margin-top: 2%;
		margin-left: 80%;
		height: calc(var(--icon-size) + 2 * var(--icon-padding));
	}

	.check {
		display: none;
	}

	@media (max-width: 600px) {
		.nav-title {
			display: none;
		}

		.container {
			position: relative;
			margin: 3rem;
			padding: 3rem;
			height: 600px;
			text-align: center;
		}

		.check {
			display: block;
			position: absolute;
			top: 0.5rem;
			left: 85%;
			height: 3rem;
			width: 3rem;
			opacity: 0;
			z-index: 3;
		}

		.check:hover {
			cursor: pointer;
		}

		.check:checked ~ .nav-links {
			display: block;
			transform: translateX(-10%);
			opacity: 1;
		}

		.check:not(:checked) ~ .nav-links {
			display: block;
			transform: translateX(100%);
			opacity: 1;
			transition: transform 0.6s ease-in-out, opacity 0.3s;
		}

		.check:checked ~ .theme-toggle {
			display: block;
			transform: translateX(-10%) translateY(45rem);
			opacity: 1;
			transition: transform 0.3s ease-in-out, opacity 0.6s;
		}

		.check:not(:checked) ~ .theme-toggle {
			display: block;
			opacity: 0;
			transform: translateX(100%) translateY(45rem);
			transition: transform 0.6s ease-in-out, opacity 0.3s;
		}

		.mobile-menu {
			height: 3rem;
			width: 3rem;
			position: absolute;
			top: 0.5rem;
			left: 85%;
			padding: 0.5rem;
			z-index: 2;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
		}

		.mobile-menu .line {
			background: var(--text);
			border-radius: 1em;
			width: 2rem;
			height: 0.25rem;
		}

		.mobile-menu .line1 {
			transform-origin: 0% 0%;
			transition: transform 100ms ease-in-out;
		}

		.mobile-menu .line3 {
			transform-origin: 0% 100%;
			transition: transform 100ms ease-in-out;
		}

		.check:checked ~ .mobile-menu .line1 {
			display: block;
			transform: rotate(45deg);
		}

		.check:checked ~ .mobile-menu .line2 {
			opacity: 0;
		}

		.check:checked ~ .mobile-menu .line3 {
			display: block;
			transform: rotate(-45deg);
		}

		.nav-links {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100vh;
			top: -1rem;
			list-style: none;
			opacity: 0;
			font-size: var(--text-2xl);
			background: var(--background);
			transform: translateX(100%);
			transition: transform 0.3s ease-in-out, opacity 0.6s;
		}

		.nav-links a {
			position: relative;
			display: block;
			transform: translateX(9rem) translateY(8rem);
			padding: 1rem;
		}

		.theme-toggle {
			position: absolute;
			margin-top: 4%;
			margin-left: 80%;
		}
	}
</style>
