---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Full-Stack</h2>
		<p>As a full-stack developer, I use JavaScript with the framework React to develop complex but stylish websites and apps. Occasionally, I develop apps using Python, C 
		   and even Java.
		</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Self-Motivated</h2>
		<p>I'm motivated to complete every task. I go above and beyond to strengthen my skills set to finish the prject.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Strategy-Minded</h2>
		<p>I consider every aspect while I develop my projects. If a project takes longer to develop, I concentrate on its design and potential user effects.</p>
	</div>
</section>

<style>
	.box {
		border-radius: 0.75rem;
		padding: 1.5rem;
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
