<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css"
/>

<section>
    <div class="advanced">
        <h2 class="skill-level">Advanced</h2>
        <div class="container">
            <div class="icons">
                <i class="devicon-javascript-plain"></i>
                <p>JavaScript (ES6+)</p>
            </div>
            <div class="icons">
                <i class="devicon-html5-plain"></i>
                <p>HTML</p>
            </div>
            <div class="icons">
                <i class="devicon-css3-plain"></i>
                <p>CSS3</p>
            </div>
            <div class="icons">
                <i class="devicon-react-plain"></i>
                <p>React</p>
            </div>
        </div>
    </div>
    <div class="intermediate">
        <h2 class="skill-level">Intermediate</h2>
        <div class="container">
            <div class="icons">
                <i class="devicon-java-plain"></i>
                <p>Java</p>
            </div>
            <div class="icons">
                <i class="devicon-python-plain"></i>
                <p>Python</p>
            </div>
            <div class="icons">
                <i class="devicon-mysql-plain"></i>
                <p>SQL</p>
            </div>
            <div class="icons">
                <i class="devicon-visualstudio-plain"></i>
                <p>Visual Studio Code</p>
            </div>
            <div class="icons">
                <i class="devicon-intellij-plain"></i>
                <p>IntelliJ</p>
            </div>
            <div class="icons">
                <i class="devicon-git-plain"></i>
                <p>Git</p>
            </div>
            <div class="icons">
                <i class="devicon-github-plain"></i>
                <p>GitHub</p>
            </div>
        </div>
    </div>
    <div class="learning">
        <h2 class="skill-level">Learning</h2>
        <div class="container">
            <div class="icons">
                <i class="devicon-cplusplus-plain"></i>
                <p>C/C++</p>
            </div>
            <div class="icons">
                <i class="devicon-tailwindcss-plain"></i>
                <p>Tailwind</p>
            </div>
            <div class="icons">
                <i class="devicon-photoshop-plain"></i>
                <p>Adobe Photoshop</p>
            </div>
            <div class="icons">
                <i class="devicon-nodejs-plain"></i>
                <p>Node.js</p>
            </div>
        </div>
    </div>
</section>

<style>
    .container {
        display: flex;
        flex-direction: row;
        padding: 1rem;
    }

    .skill-level {
		font-size: var(--text-xl);
    }

    .icons {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    .icons:hover i,
    .icons:hover p {
        color: var(--accent-dark);
    }

    i {
        font-size: var(--text-5xl);
        transition: color 0.5s ease-in-out;
    }

    p {
        transition: color 0.5s ease-in-out;
    }

    @media (max-width: 600px) {
        .container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 10px;
            grid-row-gap: 10px;
            padding: 0.25rem;
            margin-top: 1rem;
        }

        .skill-level {
            margin-top: 1rem;
        }
    }
</style>
